*{
  margin: 0;
  padding: 0;
}


.navbar-style{
  box-shadow: 0 5px 10px #efefef;
  text-transform: uppercase;
  background-color: #F3FFBD;
  padding-right: 12px;
  padding-left: 12px;
}

li a{
  color: rgb(75, 46, 1);
  font-size: 16px;
}

.card{
  background-color: #B2DBBF;
  width: 100%;
  position: relative; 
  top: -20px;
}
.card-image{
  width: 50%;
  object-fit: cover;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

h2{
  text-align: center;
}


