{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'About.css' %}" />
    <title>Document</title>
	<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="header-fluid">
        <nav class="navbar navbar-style">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home.html"><b>Home</b></a></li>
                <li><a href="About.html"><b>About</b></a></li>
                <li><a href="More.html"><b>More</b></a></li>
            </ul>
        </nav>
        </header>
        <div class="card">
            <div class="row">
                <div class="col-sm-6">
                    <img class="card-image" src="{% static 'FR26.jpg' %}" style="border-radius: 10%;">
                </div>
                <div class="col-sm-6">
                    <h2 style="margin-top: 10%; font-size: 60px; color: rgb(75, 46, 1)"><b>About Me</b></h2>
                    <p style="font-size: 40px; color: rgb(75, 46, 1)">An energic and active College student from Univerisity of Indonesia, majoring in Computer Science, 
                        who's still learning programming with huge enthusiasm.
                    </p>
                </div>
            </div>
                <div class="row" style="background-color: #F3FFBD;">
                    <div class="col-sm-4">
                        <h2>SKILLS</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static 'python.png' %}" class="card-image">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'java.png' %}" class="card-image">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static 'drum.png'}" class="card-image">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'download.png'}" class="card-image">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="text-align: center; font-size: medium;">
                        <h2>EDUCATION</h2>
                            <br>
                            <p>SDN 04 Cilandak Barat</p>
                            <p>SMPN 85 Jakarta</p>
                            <p>SMAN 34 Jakarta</p>
                            <p>Universitas Indonesia</p>
                    </div>
                    <div class="col-sm-4" style="font-size: medium;">
                        <h2>PERSONAL DETAILS</h2>
                            <br>
                            <p><b>Date of Birth</b></p>
                            <p>11th June 2001</p>
                            <p><b>Address</b></p>
                            <p>Depok, Indonesia</p>
                            <p><b>NPM</b></p>
                            <p>1906398704</p>
                    </div>
            </div>
        </div>
<body>
</html)
