{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Home.css' %}" />
    <title>Document</title>
	<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-style">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home.html"><b>Home</b></a></li>
                <li><a href="About.html"><b>About</b></a></li>
                <li><a href="More.html"><b>More</b></a></li>
            </ul>
        </nav>
        </header>
        <div class="card">
            <img src="{% static 'foto_home.jpg' %}" class="card-image">
            <p>Welcome to my personal website</p>
        </div>
</body>
</html>

