{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'More.css' %}" />
    <title>Document</title>
	<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="header-fluid">
        <nav class="navbar navbar-style">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home.html"><b>Home</b></a></li>
                <li><a href="About.html"><b>About</b></a></li>
                <li><a href="More.html"><b>More</b></a></li>
            </ul>
        </nav>
        </header>
        <div class="card">
            <div class="row">
                <div class="col-sm-8">
                    <h2><b>Pengalaman berorganisasi</b></h2>
                    <ul style="padding-left: 20px;">
                        <li>Wakil ketua Community of Love (COOL) remaja</li>
                            <p>(2019 - now)</p>
                        <li>Anggota tim pelayanan jemaat di bidang musik</li>
                            <p>(2017 - now)</p>
                        <li>Panitia COMPFEST di bidang Capture the Flag</li>
                            <p>(Februari 2020 - Oktober 2020)</p>
                        <li>Anggota tim silabus program Dasar-Dasar Pemrograman 0 (DDP0)</li>
                            <p>(Juli 2020 - September 2020)</p>
                        <li>Mentor program Dasar-Dasar Pemrograman 0 (DDP0)</li>
                            <p>(Agustus 2020 - September 2020)</p>
                        <li>Anggota kegiatan bakti sosial yang diadakan oleh FASILKOM UI angkatan 2019</li>
                            <p>(Desember 2019)</p>
                        <li>Anggota tim paduan suara SMA Grazia Vocalista</li>
                            <p>(Agustus 2016 - April 2019)</p>
                    </ul>
                    <br>
                </div>
                <div class="col-sm-4">
                    <img class="card-image"src="{% static 'baksos.jpg' %}" style="transform: rotate(8deg);">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h2 style="text-align: left; padding-left: 20px;"><b>Contact me</b></h2>
                    <div class="col-sm-1">
                        <a href="https://www.instagram.com/gerrad_nd/">
                            <img class="card-image1" src="{% static instagram.jpg' %}">                            
                        </a>
                        </div>
                    <div class="col-sm-1">
                        <a href="https://www.facebook.com/gerrad.natanael">
                            <img class="card-image1" src="{% static 'facebook.png' %}">
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <a href="http://line.me/ti/p/~gerradnd">
                            <img class="card-image1" src="{% static 'line.png' %}">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img class="card-image" src="{% static 'line_60271748161744.jpg' %}" style="transform: rotate(-8deg);">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
